# build target
/**/cmake-build-android/
/**/cmake-build-android-release/
/**/cmake-build-android-debug/
/**/build/
/**/out/
/**/bin/

.idea/
.vscode/
.vs/
.gradle/
.act/

local.properties
platforms/android/app/sign.keystore
platforms/android/app/sign.properties
*.keystore
*.jks
*.p12
*.pem
*.key
*.mobileprovision
sign.properties
keystore.properties

java_pid*.hprof
*.hprof
*.dmp
*.core
core.*
crashpad_database/
*.log
.env
.env.*
!.env.example
*.user
*.suo
*.VC.db
*.VC.VC.opendb
compile_commands.json
.cache/
.cxx/
captures/
.DS_Store
*.pdb